{{ define "title" }}
    <title>Audio & Video Editing</title>
{{ end }}

{{ define "header" }}
    Audio & Video Editing
{{ end }}

{{ define "bgImg" }}
    <img src="/static/img/backgrounds/audio-video-editing.jpg" alt="audio video editing background" class="h-full w-full object-cover object-bottom">
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/audio-video-editing-2.jpg" alt="audio video editing secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@jakobowens1?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jakob Owens</a> on <a href="https://unsplash.com/photos/black-flat-screen-tv-turned-on-displaying-game-B4f_Kx5jvpg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    Polished, professional editing that tells your story right
{{ end }}

{{ define "paragraph" }}
    Professional editing services for events, podcasts, live shows, and branded content.
{{ end }}