{{ define "title" }}
    <title>DJ / Wedding Services</title>
{{ end }}

{{ define "header" }}
    DJ / Wedding Services
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] overflow-hidden">
        <img src="/static/img/backgrounds/dj-wedding-services.jpg" alt="dj and wedding background" class="w-full">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/dj-wedding-services-2.jpg" alt="dj and wedding secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@gabebarletta?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Gabriel Barletta</a> on <a href="https://unsplash.com/photos/black-dj-turn-table-next-to-laptop-computer-OuLVg5ZKphI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
    </div>
{{ end }}

{{ define "subheader" }}
    Your soundtrack for life’s biggest moments
{{ end }}

{{ define "paragraph" }}
    From elegant weddings to high-energy parties, our DJs keep the dance floor alive. We handle all the details—playlists, MC services, and sound setup—to ensure your event runs seamlessly.
{{ end }}