{{ define "title" }}
    <title>Equipment Rental</title>
{{ end }}

{{ define "header" }}
    <h1 class="text-6xl font-black text-neutral-200 z-10 pb-2 w-max border-b-[2px] border-[#FF8C00]">Equipment Rental</span></h1>
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/equipment-rental.jfif" alt="equipment rental background" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/equipment-rental-2.jpg" alt="live event production secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@mgmaasen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Michael Maasen</a> on <a href="https://unsplash.com/photos/microphone-on-dj-controller-ZY7fuakuXJ0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    <h2 class="text-neutral-200 text-4xl font-light pl-3 border-l-[6px] border-[#FF8C00]">Professional gear, flexible rentals, dependable service</h2>
{{ end }}

{{ define "paragraph" }}
    <p class="text-neutral-200 text-lg">Affordable, reliable equipment rentals for sound, lighting, staging, and visuals. Daily and long-term rental options available.</p>
{{ end }}