{{ define "title" }}
    <title>Event Consultation</title>
{{ end }}

{{ define "header" }}
    <h1 class="text-6xl font-black text-neutral-200 z-10 pb-2 w-max border-b-[2px] border-[#FF8C00]">Event Consultation</span></h1>
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/event-consultation.webp" alt="event consultation background" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/event-consultation-2.jpg" alt="event consultation secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> on <a href="https://unsplash.com/photos/man-using-macbook-Lks7vei-eAg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    <h2 class="text-neutral-200 text-4xl font-light pl-3 border-l-[6px] border-[#FF8C00]">Expert advice to plan, launch, and elevate your event</h2>
{{ end }}

{{ define "paragraph" }}
    <p class="text-neutral-200 text-lg">With years of hospitality and entertainment expertise, we help plan and structure events that maximize guest experience and profitability.</p>
{{ end }}