{{ define "title" }}
    <title>Karaoke</title>
{{ end }}

{{ define "header" }}
    Karaoke
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/karaoke.jpg" alt="karaoke image" class="h-full w-full object-cover object-bottom">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/karaoke-2.jpg" alt="Karaoke secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@nikolalsvk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nikola Đuza</a> on <a href="https://unsplash.com/photos/a-large-neon-sign-on-the-side-of-a-building-6w66byzkPBI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    Everyone’s a star with our professional karaoke setup
{{ end }}

{{ define "paragraph" }}
    Bring the fun to your venue or private event. Our professional karaoke setup includes high-quality sound, curated song catalogs, and a host to keep the night flowing.
{{ end }}