{{ define "title" }}
    <title>Karaoke</title>
{{ end }}

{{ define "header" }}
    <h1 class="text-6xl font-black text-neutral-200 z-10 pb-2 w-max border-b-[2px] border-[#FF8C00]">Karaoke</span></h1>
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/karaoke.jpg" alt="karaoke image" class="h-full w-full object-cover object-bottom">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/karaoke-2.jpg" alt="Karaoke secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@nikolalsvk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nikola Đuza</a> on <a href="https://unsplash.com/photos/a-large-neon-sign-on-the-side-of-a-building-6w66byzkPBI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    <h2 class="text-neutral-200 text-4xl font-light pl-3 border-l-[6px] border-[#FF8C00]">Everyone’s a star with our professional karaoke setup</h2>
{{ end }}

{{ define "paragraph" }}
    <p class="text-neutral-200 text-lg">Bring the fun to your venue or private event. Our professional karaoke setup includes high-quality sound, curated song catalogs, and a host to keep the night flowing.</p>
{{ end }}