{{ define "title" }}
    <title>Live Event Production</title>
{{ end }}

{{ define "header" }}
    Live Event Production
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/live-event-production.webp" alt="live event background" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/live-event-production-2.jpg" alt="live event production secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@jasonjarr?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jason Jarrach</a> on <a href="https://unsplash.com/photos/a-crowd-of-people-standing-around-a-stage-JpAPT-MzyQI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    Seamless staging, sound, and management for unforgettable events
{{ end }}

{{ define "paragraph" }}
    From staging to sound, we ensure every detail of your live event runs professionally. Our production services cover concerts, festivals, corporate gatherings, and more.
{{ end }}