{{ define "title" }}
    <title>Live Music</title>
{{ end }}

{{ define "header" }}
    <h1 class="text-6xl font-black text-neutral-200 z-10 pb-2 w-max border-b-[2px] border-[#FF8C00]">Live Music</span></h1>
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] overflow-hidden">
        <img src="/static/img/backgrounds/live-music.jpg" alt="live music background" class="w-full h-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/live-music-2.jpg" alt="live music secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@dan__burton?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Dan Burton</a> on <a href="https://unsplash.com/photos/person-stepping-on-guitar-distortion-c6apkDMzTuo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    <h2 class="text-neutral-200 text-4xl font-light pl-3 border-l-[6px] border-[#FF8C00]">Bringing the stage to your space, one performance at a time</h2>
{{ end }}

{{ define "paragraph" }}
    <p class="text-neutral-200 text-lg">We connect you with talented musicians to elevate any event. From solo acoustic acts to full bands, our roster covers a wide range of genres to match your venue’s atmosphere.</p>
{{ end }}