{{ define "title" }}
    <title>Music Video Bingo</title>
{{ end }}

{{ define "header" }}
    Music Video Bingo
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/music-video-bingo.jpg" alt="Photo by Kane Reinholdtsen on Unsplash" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/music-video-bingo-2.jpg" alt="Music Video Bingo secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@kanereinholdtsen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kane Reinholdtsen</a> on <a href="https://unsplash.com/photos/silver-corded-microphone-in-shallow-focus-photography-LETdkk7wHQk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    Classic bingo meets the power of music and video
{{ end }}

{{ define "paragraph" }}
    A modern twist on a classic game—guests match iconic music videos with their bingo cards. Interactive, visual, and fun for all ages.
{{ end }}