{{ define "title" }}
    <title>Music Video Bingo</title>
{{ end }}

{{ define "header" }}
    <h1 class="text-6xl font-black text-neutral-200 z-10 pb-2 w-max border-b-[2px] border-[#FF8C00]">Music Video Bingo</span></h1>
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/music-video-bingo.jpg" alt="Photo by Kane Reinholdtsen on Unsplash" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/music-video-bingo-2.jpg" alt="Music Video Bingo secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@kanereinholdtsen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kane Reinholdtsen</a> on <a href="https://unsplash.com/photos/silver-corded-microphone-in-shallow-focus-photography-LETdkk7wHQk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    <h2 class="text-neutral-200 text-4xl font-light pl-3 border-l-[6px] border-[#FF8C00]">Classic bingo meets the power of music and video</h2>
{{ end }}

{{ define "paragraph" }}
    <p class="text-neutral-200 text-lg">A modern twist on a classic game—guests match iconic music videos with their bingo cards. Interactive, visual, and fun for all ages.</p>
{{ end }}