{{ define "title" }}
    <title>Outdoor Movie Night</title>
{{ end }}

{{ define "header" }}
    Outdoor Movie Night
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/outdoor-movie-night.jpg" alt="Photo by Alex Litvin on Unsplash" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/outdoor-movie-night-2.jpg" alt="Outdoor Movie Night secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@videoguy80?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Stephen McFadden</a> on <a href="https://unsplash.com/photos/a-large-crowd-of-people-watching-a-television-screen-1JOsn6qk8w4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    Transform any outdoor space into a theater under the stars
{{ end }}

{{ define "paragraph" }}
    Turn any outdoor space into a cinematic experience. We provide screens, projectors, sound, and full setup for family nights, fundraisers, and community events.
{{ end }}