{{ define "title" }}
    <title>Podcast Filming</title>
{{ end }}

{{ define "header" }}
    Podcast Filming<
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/podcast-filming.avif" alt="podcast background" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/podcast-filming-2.jpg" alt="podcast secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-black opacity-10 text-xs">Photo by <a href="https://unsplash.com/@jukkaaalho?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jukka Aalho</a> on <a href="https://unsplash.com/photos/black-microphone-on-white-background-gKKB13zJ1ss?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    High-quality production to make your voice and vision stand out<
{{ end }}

{{ define "paragraph" }}
    Full-service podcast production including filming, recording, editing, and post-production polish.
{{ end }}