{{ define "title" }}
    <title>Screen & Projector Rentals</title>
{{ end }}

{{ define "header" }}
    <h1 class="text-6xl font-black text-neutral-200 z-10 pb-2 w-max border-b-[2px] border-[#FF8C00]">Screen & Projector Rentals</span></h1>
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/screen-projector-rental.jpg" alt="Photo by Augusto Oazi on Unsplash" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/screen-projector-rental-2.jpg" alt="screen & projector rentals secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@pino_rumbero?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Michael Pointner</a> on <a href="https://unsplash.com/photos/a-large-screen-in-an-empty-room-with-chairs-slLtsFgd8Z4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    <h2 class="text-neutral-200 text-4xl font-light pl-3 border-l-[6px] border-[#FF8C00]">Big screens, bright visuals, and the tech to match</h2>
{{ end }}

{{ define "paragraph" }}
    <p class="text-neutral-200 text-lg">Perfect for presentations, conferences, or backyard movie nights. We supply professional-grade screens and projectors for events of any size.</p>
{{ end }}