{{ define "title" }}
    <title>Stage & Sound</title>
{{ end }}

{{ define "header" }}
    Stage & Sound
{{ end }}

{{ define "bgImg" }}
    <div class="absolute top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden">
        <img src="/static/img/backgrounds/stage-sound.jpg" alt="Photo by Magnus Lunay on Unsplash" class="h-full w-full object-cover object-center">
    </div>
{{ end }}

{{ define "secondaryImg" }}
    <div class="w-full relative">
        <img src="/static/img/backgrounds/stage-sound-2.jpg" alt="Stage & Sound secondary image" class="w-full aspect-3/2 rounded-lg">
        <p class="absolute bottom-1 left-2 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@cbpsc1?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Clint Patterson</a> on <a href="https://unsplash.com/photos/close-up-photo-of-hanging-speaker-pHSjhC6s80M?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
{{ end }}

{{ define "subheader" }}
    Custom setups built for clarity, power, and performance
{{ end }}

{{ define "paragraph" }}
    From ambiance to stage lighting, we provide full lighting solutions for venues, theaters, and events.
{{ end }}