{{ define "contact-component" }}
    <div class="flex flex-col gap-6">
        <h2 class="text-neutral-200 font-black lg:text-3xl text-2xl">Interested?</h2>
        <p class="text-neutral-200 lg:text-lg text-md"><span class="font-bold">B.F.G. Productions</span> is ready to help. Feel free to reach out to us to discuss your needs!</p>
        <a href="/contact" class="bg-[#FF8C00] rounded-lg px-3 py-2 text-neutral-200 lg:text-xl text-md font-black w-max hover:bg-neutral-200 hover:text-[rgb(35,35,35)] transition">Contact</a>
    </div>
{{ end }}