{{ define "footer" }}
<footer class="bg-bfg w-full flex justify-center z-10">
    <div class="bg-bfg w-full flex justify-center py-12 z-10">
        <div id="footer-inner" class="bg-bfg h-full max-w-[1100px] flex flex-col justify-between items-center lg:w-4/5 w-full px-3 z-10">
            <h3 class="text-neutral-200 font-bold">Proud partners of B.F.G. Productions</h3>
            <section id="partner-logos" class="flex gap-[32px] flex-wrap w-full justify-center border-b-1 border-neutral-600 py-18 pt-12">
                <img src="/static/img/partner-logos/pcb-beach-marathon-mono.webp"  alt="boat parade logo" class="max-w-[125px] aspect-1 rounded-lg opacity-50 transition hover:opacity-100">
                <img src="/static/img/partner-logos/red-fish-mono.webp"  alt="boat parade logo" class="max-w-[125px] rounded-lg opacity-50 transition hover:opacity-100">
                <img src="/static/img/partner-logos/dpc-love-pc-weblogo-mono.webp"  alt="boat parade logo" class="max-w-[125px] rounded-lg opacity-50 transition hover:opacity-100">
                <img src="/static/img/partner-logos/old-beach-bar-mono.webp"  alt="boat parade logo" class="max-w-[125px] rounded-lg opacity-50 transition hover:opacity-100">
                <img src="/static/img/partner-logos/logo-destination-panama-city-mono.webp"  alt="boat parade logo" class="max-w-[125px] rounded-lg opacity-50 transition hover:opacity-100">
                <img src="/static/img/partner-logos/papa-joes-2-mono.webp"  alt="boat parade logo" class="max-w-[125px] rounded-lg opacity-50 transition hover:opacity-100">
                <img src="/static/img/partner-logos/boat-parade-mono.webp"  alt="boat parade logo" class="max-w-[125px] rounded-lg opacity-50 transition hover:opacity-100">
            </section>
            <section id="footer-info" class="flex w-full lg:flex-row flex-col justify-between lg:flex-row-reverse lg:gap-0 gap-18 py-18">
                <div id="footer-info-right" class="lg:w-2/5 w-full flex lg:flex-col flex-row justify-between">
                    <img src="/static/img/pcb-chamber.webp" alt="pcb chamber of commerce logo" class="lg:w-full w-1/2 lg:max-w-[320px] lg:ml-auto ml-0 h-auto flex-shrink-0">
                    <img src="/static/img/atl-chamber.webp" alt="atl chamber of commerce logo" class="lg:w-full w-1/2 lg:max-w-[320px] lg:ml-auto ml-0 h-auto flex-shrink-0">
                </div>
                <div id="footer-info-left" class="lg:w-2/5 w-full flex flex-col gap-8">
                    <img src="/static/img/card-3.webp" alt="bfg logo" class="lg:w-full w-1/2 max-w-[320px]">
                    <div>
                        <h2 class="text-neutral-200 lg:text-lg text-sm mb-4">B.F.G. Productions is <span class="text-[#FF8C00] font-bold">licensed, bonded, and insured</span> in both the state of Georgia and the state of Florida.</h2>
                        <a href="https://www.myfloridalicense.com/LicenseDetail.asp?SID=&id=B0596613CB005075EF9BEF961794C2E3" target="_blank" rel="noopener noreferrer" class="border text-neutral-200 lg:text-lg text-sm border-neutral-700 px-2 py-1 w-max hover:bg-[#FF8C00]">FL TA License #1671</a>
                    </div>
                    <div class="flex flex-col">
                        <h3 class="text-neutral-200 lg:text-lg text-sm border-b-1 mb-4 font-bold w-auto w-max">Metro Atlanta</h3>
                        <a href="tel:4703548082" class="text-neutral-200 transition hover:text-[#FF8C00] lg:text-md text-sm cursor-pointer w-max">(470) 354-8082</a>
                        <a href="mailto:bfgproductionsatl@gmail.com" class="text-neutral-200 transition hover:text-[#FF8C00] lg:text-md text-sm cursor-pointer w-max">bfgproductionsatl@gmail.com</a>
                    </div>
                    <div class="flex flex-col">
                        <h3 class="text-neutral-200 lg:text-lg text-sm border-b-1 mb-4 font-bold w-max">Florida Panhandle</h3>
                        <a href="tel:8509196125" class="text-neutral-200 transition hover:text-[#FF8C00] lg:text-md text-sm cursor-pointer w-max">(850) 919-6125</a>
                        <a href="mailto:bfgproductionspcb@gmail.com" class="text-neutral-200 transition hover:text-[#FF8C00] lg:text-md text-sm cursor-pointer w-max">bfgproductionspcb@gmail.com</a>
                    </div>
                    <div>
                        <h3 class="text-neutral-200 lg:text-md text-sm">© B.F.G. Productions, LLC</h3>
                        <h3 class="text-neutral-200 lg:text-md text-sm">Website created and maintained by <a href="https://www.studioazure.io" target="_blank" rel="noopener noreferrer" class="text-[#FF8C00] font-bold hover:underline">Studio Azure</a></h3>
                        <h3 class="text-neutral-500 lg:text-md text-sm inline">Powered by <h3 class="font-black inline text-neutral-200">htm<h3 class="inline text-[rgb(61,114,215)]">x</h3></h3> <h3 class="inline text-neutral-500">and</h3> <h3 class="inline font-black text-neutral-200">Go</h3></h3>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
{{ end }}