{{ define "title" }}
    <title>B.F.G. Productions</title>
{{ end }}

{{ define "content" }}
<section id="home-content" class="w-full">

    <div class="relative pt-[75px] w-full h-[75vh] bg-[url(/static/img/backgrounds/home-bg.jpg)] bg-cover bg-center">
        <div class="w-full h-full bg-black/50 absolute top-0 left-0 z-2"></div>
        <div class="flex flex-col justify-evenly items-center w-full h-full">
            <h1 class="lg:text-6xl text-3xl font-medium text-center text-neutral-200 leading-[150%] z-10 pt-12">EVENTS WITH A<br><span class="bfg-text-fancy lg:text-7xl text-5xl">Personal Touch</span></h1>
            <div class="flex flex-col justify-center items-center gap-6 pb-12">
                <img src="/static/img/logo-trans.webp" alt="bfg logo" class="lg:w-[100px] w-[50px] z-10">
                <h2 class="lg:text-xl text-md text-center text-neutral-200 w-5/6 max-w-[700px] z-10">Hospitality meets entertainment. From live music to unforgettable events, we create moments that keep guests coming back time and time again!</h2>
            </div>
        </div>
        <div id="hero-bottom-fade" class="w-full h-1/4 max-h-[300px] bg-gradient-to-t from-[rgba(35,35,35,1)] to-[rgba(35,35,35,0)] absolute bottom-0 left-0"></div>
        <p class="absolute bottom-0 left-0 text-white opacity-10 text-xs">Photo by <a href="https://unsplash.com/@anthonydelanoix?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Anthony DELANOIX</a> on <a href="https://unsplash.com/photos/person-performing-heart-hand-gesture-hzgs56Ze49s?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>

    <!-- <div class="w-full h-[50vh] bg-[#FF8C00] flex flex-col justify-center items-center">
        <h1>TESTIMONIAL(?) PLACEHOLDER</h1>
    </div> -->

    <div class="flex flex-col justify-center items-center w-full">
        <div class="w-full flex justify-center">
            <div class="lg:w-4/5 w-full px-3 max-w-[1100px] flex flex-col gap-12 justify-center items-start py-20">
                <p class="text-neutral-200 lg:text-3xl text-lg font-light pl-3 border-l-[6px] border-[#FF8C00]">At <span class="font-black">BFG Productions</span>, we believe that every event is an opportunity to create something unforgettable. With years of experience in hospitality, entertainment, and event production, we combine professional precision with personal attention to detail.</p>

                <p class="text-neutral-200 lg:text-lg text-md font-light">From intimate gatherings to large-scale productions, our team delivers seamless service, creative solutions, and top-tier talent. Whether it’s live music, DJ services, trivia nights, or full-scale event management, we design experiences that keep guests engaged and coming back.</p>
            </div>
        </div>

        <div class="w-full flex justify-center bg-neutral-900">
            <div class="lg:w-4/5 w-full px-3 max-w-[1100px] lg:gap-6 gap-2 flex flex-col lg:h-[33vh] h-auto justify-center items-start py-20">
                <h2 class="font-black text-neutral-200 lg:text-4xl text-2xl mb-6">What We Do Best</h2>
                <div class="grid gap-12 md:grid-cols-3 divide-x">
                    <div class="border-l-[2px] border-[#FF8C00] pl-3 gap-3 flex flex-col relative">
                        <div class="absolute w-full h-full overflow-hidden rounded">
                            <img src="/static/img/live-music-sm.jpg" alt="Photo by BRUNO CERVERA on Unsplash" class="absolute w-full h-full object-cover">
                            <div class="w-full h-full bg-fade absolute z-1"></div>
                        </div>
                        <h3 class="text-neutral-200 font-black lg:text-2xl text-xl z-1 relative px-2 pt-1">Live Entertainment</h3>
                        <p class="text-neutral-200 font-light lg:text-xl text-md z-1 relative px-2 pb-1">Enjoy DJs, live music, karaoke nights, trivia, and more whenever you need it.</p>
                    </div>
                    <div class="border-l-[2px] border-[#FF8C00] pl-3 gap-3 flex flex-col relative">
                        <div class="absolute w-full h-full overflow-hidden rounded">
                            <img src="/static/img/production-sm.jpg" alt="Photo by Markus Spiske on Unsplash" class="absolute w-full h-full object-cover">
                            <div class="w-full h-full bg-fade absolute z-1"></div>
                        </div>
                        <h3 class="text-neutral-200 font-black lg:text-2xl text-xl z-1 relative px-2 pt-1">Production Services</h3>
                        <p class="text-neutral-200 font-light lg:text-xl text-md z-1 relative px-2 pb-1">Outdoor movie nights, staging, lighting, equipment rentals, and event consulting.</p>
                    </div>
                    <div class="border-l-[2px] border-[#FF8C00] pl-3 gap-3 flex flex-col relative">
                        <div class="absolute w-full h-full overflow-hidden rounded">
                            <img src="/static/img/installation-sm.jpg" alt="Photo by Sam Moghadam on Unsplash" class="absolute w-full h-full object-cover">
                            <div class="w-full h-full bg-fade absolute z-1"></div>
                        </div>
                        <h3 class="text-neutral-200 font-black lg:text-2xl text-xl z-1 relative px-2 pt-1">Installation & Repairs</h3>
                        <p class="text-neutral-200 font-light lg:text-xl text-md z-1 relative px-2 pb-1">Permanent or temporary audio/visual and lighting solutions for venues of all sizes.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center h-auto py-20">
            <div class="lg:w-4/5 w-full px-3 max-w-[1100px] flex lg:flex-row flex-col gap-18">
                <div class="lg:w-1/2 w-full flex flex-col lg:gap-6 gap-2 items-start">
                    <h2 class="font-black text-neutral-200 lg:text-4xl text-2xl mb-6">Our Philosophy</h2>
                    <div class="border-l-[2px] border-[#FF8C00] flex flex-col gap-6">
                        <p class="pl-3 text-neutral-200 font-light lg:text-xl text-md"><span class="font-black">Hospitality Meets Entertainment</span> – We don’t just put on events; we craft atmospheres that feel welcoming, exciting, and memorable.</p>
                        <p class="pl-3 text-neutral-200 font-light lg:text-xl text-md"><span class="font-black">Professional Standards</span> – Licensed, bonded, and insured, we bring peace of mind alongside creativity and energy.</p>
                        <p class="pl-3 text-neutral-200 font-light lg:text-xl text-md"><span class="font-black">Partnership Focused</span> – From venues to private clients, we build long-term relationships that support growth and community.</p>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full gap-6 flex flex-col items-start">
                    <h2 class="font-black text-neutral-200 lg:text-4xl text-2xl lg:mb-6 mb-2">Our Commitment</h2>
                    <div class="flex flex-col justify-between lg:gap-0 gap-8 h-full">
                        <p class="font-light text-neutral-200 lg:text-xl text-md border-l-[2px] border-[#FF8C00] pl-3">We are proud members of multiple <span class="font-black">Chambers of Commerce</span> and trusted partners across the region. With bases in both Atlanta (ATL) and Panama City Beach (PCB), we bring our services to communities across the Southeast.</p>
                        <img src="/static/img/card-3.webp" alt="bfg logo" class="w-1/2">
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center bg-neutral-900">
            <div class="lg:w-4/5 w-full px-3 max-w-[1100px] flex flex-col h-[33vh] justify-center items-center">
                <p class="font-light text-neutral-200 lg:text-2xl text-xl text-center">At <span class="font-black">B.F.G. Productions</span>,<br>our promise is simple: <br><br><span class="font-black">Professional execution. Personal touch. <span class="text-[#FF8C00] italic">Memorable results.</span></span></p>
            </div>
        </div>
    </div>

</section>
{{ end }}