{{ define "service" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/output.css">
    {{ template "title" . }}
</head>
    <body class="bg-bfg overflow-x-hidden">
        {{ template "nav" . }}
        <main class="flex w-full flex-col justify-center items-center bg-bfg">
            <section id="home-content" class="w-full">

                <div class="fixed top-0 left-0 w-screen h-[33vh] flex justify-center overflow-hidden z-0">
                    {{ template "bgImg" . }}
                </div>

                <div class="relative flex flex-col justify-center items-center pt-[75px] w-screen h-[33vh] overflow-hidden">
                    <div class="w-full h-full bg-black/70 absolute top-0 left-0 z-2"></div>
                    <div class="flex flex-col justify-center gap-4 w-4/5 max-w-[1100px] h-full">
                        <h3 class="text-lg text-[#FF8C00] z-10">Services</h3>
                        {{ template "header" . }}
                    </div>
                </div>


            </section>
            <div class="w-full flex justify-center z-12 bg-bfg">
                <div class="w-4/5 flex justify-between py-18 gap-12 max-w-[1100px] border-b border-neutral-700 ">
                    <div class="w-1/2 flex flex-col gap-12">
                        {{ template "subheader" . }}
                        {{ template "paragraph" . }}
                        {{ template "secondaryImg" . }}
                    </div>
                    <div class="w-1/3">
                        {{ template "contact-component" . }}
                    </div>
                </div>
            </div>
        </main>
        {{ template "footer" . }}
    </body>
</html>
{{ end }}